/* GLOBAL STYLES AS NEEDED */
html {
  box-shadow: 0 0 0 30px #000 inset;
}

body {
 display: flex;
 flex-direction: column;
 font-family: 'Montserrat',helvetica, arial, sans;
 min-height: 100vh;
 /*background-color: #8c8c8c;*/
 background-image: url(/images/touge.jpg);
 background-size: cover;
}


h1 {
  font-size: 3.5em;
  font-weight: normal;
  margin: 0.3vh 20px;
  color: #ff1a1a;
  text-decoration: none;
  flex-shrink: 1;
}

h1:active,
h1:hover {
  color: #fff;
}

a {
  color: #ff1a1a;
  text-decoration: none;
}

a:active,
a:hover {
  color: #fff;
}

.content-container {
   display: flex;
   flex: 1 1 auto;
   width: 100%;
}

social-box {
  display: inline-block;
  font-size: 1.3em;
  vertical-align: bottom;
}

social-box img {
  display: inline-block;
  height: 1.3em;
  vertical-align: bottom;
  background-color: #ff1a1a;
}

i {
  color: #ff1a1a;
  vertical-align: middle;
  text-decoration: none;

}

i:active,
i:hover {
  color: #fff;
}


.portrait > img {

  width: 35vh;
  height: auto;
  background: #fff;
  border-radius: 50%;
  padding: 4px;
  margin: 8px 30px;
  max-width: 50%;

}

/* HEADER STYLES */
.header {
  font-family: "Staatliches";
  padding: 1px 0 1px;
  white-space: nowrap;
  display: flex;
  background-color: #000;
  color: #fff;
  width: 100%;

}

.header > h1:first-of-type {
  padding-left: 30px;
}

.header > social-box:last-of-type {

  vertical-align: middle;
  padding-right: 30px;
}

.header > a {
  text-align: right;
  text-decoration: none;
}

.header > h1 {
  text-align: left;

  margin: 0;
}


/* FOOTER STYLES */
.footer {
  font-family: "Staatliches";
  background-color: #000;
  padding: 5vh  5vw;
  text-align: center;
}

.footer a {
  color: #ff1a1a;
}

footer a:active,
footer a:hover {
  color: #fff;
}


/* BLURB STYLES */

.blurb {
  flex-direction: row;
}

.blurb-text-container {
  display: inline-block;
  background: rgba(1,1,1,0.2);
  vertical-align: top;
  margin: 9vh 15px 8px 8px;
  padding: 8px 12px;
  max-width: 60%;
  border-radius: 10px;
}

.blurb-text {
  font-family: 'Montserrat';
  color: #fff;
  font-size: 1em;
  font-style: italic;
}


/* MOBILE STYLES */
@media (max-width: 800px) {
  html {
    box-shadow: none;
    padding: 0;
  }

  body {
    width: 100%;
    position: fixed;
    margin: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
  }

  social-box {
    font-size: 2.5em;
    vertical-align: bottom;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .header a{
    text-align: center;
  }

  .header social-box {
    display: none;
  }

  .portrait > img {

    width: 20vh;
    height: auto;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
    margin: 3vh 30px 0;
    max-width: 50%;

  }

  .blurb {
    flex-direction: row;
    text-align: center;
  }

  .blurb  .blurb-text-container {
    margin-top: 3vh;
    background: rgba(0,0,0,0.7);
  }
