<social-box class = "social-box">
  <a href="https://www.linkedin.com/in/noahhindes/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href = "https://github.com/hindesn" target="_blank"><i class="fab fa-github-square"></i></a>
  <a href = "https://www.facebook.com/profile.php?id=100013470391056" target="_blank"><i class="fab fa-facebook"></i></a>
  <a href = "https://twitter.com/Rossonerdy" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href = "/images/LINE.jpg" target="_blank">LINE</a>
</social-box>
